---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Equipos | Kings League Clone">
    <main>
        <h1>Equipos</h1>
        <p>Estos son los equipos que participan en la liga</p>
        <a class="text-blue-500 underline" href="/">Regresar al Inicio</a>
    </main>
</Layout>
