---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Equipos | Kings League Clone">
    <main>
        <h1>Equipos</h1>
        <p>Estos son los equipos que participan en la liga</p>
    </main>
</Layout>

<style>
    main {
        color: red;
    }
    h1 {
        color: white;
    }
</style>
